STUDY_DIR=/home/rohan/Downloads/demo # Directory where yield studies will be saved to
CHIRPS_DIR=/home/rohan/Downloads/demo/chirps # Directory where to cache CHIRPS data
NP_CACHE_DIR=/abcd/ # Directory where to cache NASAPower data
ERA5_CACHE_DIR=/acbde/ # Directory where to cache ERA5 Met data
LAI_BASE_DIR=/path/to/lai/storage # Directory where to save generated LAI products
CROPMASKS_BASE_DIR=/path/to/cropmasks/storage # Directory where to save cropmasks
DOTNET_ROOT_PATH=/path/to/dotnet # Path to dotnet root dir to set this as an evn varariable for running DOTNET programs (APSIM)
APSIM_PATH=/path/to/apsim/bin/Models # Path to apsim installation Models (File is called Models in the binary compiled output)
MATCHING_SCRIPT_PATH=/path/to/match_sim_real.py # Path to the private matching script. Implementation may only be shared on request by authors
EE_PROJECT_NAME=my-ee-projectname # Google Earth Engine project name. Needed if using ERA5 meteorological data
