click
colorlog
earthengine-api
ee
gdal
geopandas
joblib
kaleido  # For static image plots in plotly
matplotlib
numpy
pandas
pathvalidate
pillow
plotly
pulp==2.7.0  # Pinned for snakemake
pystac_client
pytest
pyarrow
rasterio[s3]
requests
scipy>=1.14  # For Akima interpolator
scikit-learn
snakemake  # If using mamba/conda, install from the bioconda channel
tenacity
torch
tqdm
xhtml2pdf
